<div class="local-rucksack-badge-row">
    <div class="local-rucksack-badge-image">
        <img src="{{badgeurl}}" alt="{{badgename}}" class="local-rucksack-badge-img" style="width: 100px; height: auto;">
    </div>
    <div class="local-rucksack-badge-content">
        <h4 class="local-rucksack-badge-name">{{badgename}}</h4>
        <div class="local-rucksack-badge-description">{{{description}}}</div>
        {{#dateissued}}
        <p class="local-rucksack-badge-date">{{#str}}dateissued, local_rucksack{{/str}} {{#userdate}} {{dateissued}}, %d.%m.%Y {{/userdate}}</p>
        {{/dateissued}}
    </div>
</div>
