
<style>
    .badge-name {font-size:small}
    .container {padding-top:10px}
</style>


<div class = "container">
    <h1>BWS Uster Badge-Center</h1>
    <p>ausgestellt am {{date}} für {{firstname}} {{lastname}}</p>

    <img src="{{qrcodeurl}}">
    {{{badges}}}



</div>

